<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--<link rel="stylesheet" src="/CSS/Global.css" />-->
    <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/global.js"></script>
</body>
</html>
